*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
   
}

body{
    background-color:  rgb(184, 184, 182);
}
.conteiner{
    width: 50%;
    margin: auto;
    padding: 25px 45px 0px 25px;

;
    
}

/*                       CORES                    */

.black{
    background-color: rgb(250,107,49);
    color: white;
}

.black:hover{
    background-color: rgb(255, 87, 21);
}

.yellow{
    background-color: rgb(255,234,129);
}

.yellow:hover{
    background-color: rgb(169,200,156);
    color: white;
}

.red{
    background-color: rgb(250, 72, 49);
}

.opacidade{
    background-color: rgb(250, 72, 49, 0.6);
}

.red:hover{
    background-color: rgb(15, 15, 15);
    color: white;
}

/*                                HEADER                       */

.titulo{
    padding: 10px;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: rgba(226, 226, 226, 0.87);
    
}
/*                                CALCULADORA                       */

form{
    display: inline-block;
    /* padding: 10px; */
}

.calculadora{
    background-color: rgba(226, 226, 226, 0.87);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    margin: auto;
    justify-content: center;
    padding: 10px;

   
}

.calculadora h1, h3{
    margin-top: 10px;
    margin-bottom: 5px;
}

.radios input[type="radio"]{
    display: none;
    width: 100%;
}

.radios label{
    width: 80%;
    background-color: rgb(255, 255, 255);
    padding: 5px 20px 5px 20px;
    font-family: Arial;
    font-size: 1em;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    

    transition-property: border, box-shadow;
    transition-duration: 0.5s;

}

label:hover{
    box-shadow: 2px 2px 4px black;
}

.radios input[type="radio"]:checked+label {
    border: 2px solid black;;
    box-shadow: 2px 2px 4px black;;
  }
  

  .campos {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 3px rgb(255,234,129);
    transition-property: box-shadow;
    transition-duration: 0.5s;
    cursor: pointer;
  }


.campos:hover {
    border: black; ;
    box-shadow: 3px 3px 4px black;;
    
}

.bt{
    text-align: center;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 7.5px;
    font-weight: 900;

    transition-property: box-shadow, background-color;
    transition-duration: 0.5s;
    cursor: pointer;
    
}

.bt:hover{
    box-shadow: 3px 3px rgb(51, 50, 50, 0.5);
}

.resultado{
    background-color: rgba(226, 226, 226, 0.87);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


/*                              BARRA ANIMAÇÃO                                         */

@keyframes barraMagreza{
    from{background-color: rgb(15, 15, 15);width: 0%;}
    to{background-color: rgb(250,72,49);width:30%}
}

@keyframes barraNormal{
    from{background-color: rgb(253, 10, 10);width: 0%;}
    to{background-color: rgb(101, 207, 91);width:50%}
}

@keyframes barraSobrePeso{
    from{background-color: rgb(250,72,49);width: 0%;}
    to{background-color: rgb(253, 194, 1);width:75%}
}

@keyframes barraObesidade{
    from{background-color: rgb(15, 15, 15);width: 0%;}
    to{background-color: rgb(250,72,49);width:99%}
}

.conteinerBarra{
    display: none;
    position: relative;
    margin: auto;
    width: 100%;
    height: 50px;
    flex-direction: column;
    align-items: center;
}

.barra{
    position: absolute;
    left: 0;
    transform: translateY(150%);
   
    width: 10px;
    height: 15Px;
    border-radius: 0px 100px 100px 0px;

    animation-name: barraMagreza;
    animation-delay: 0.5s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.dados{
    
    width: 100%;
    position: relative;
}

.ponto0{
    
}

.ponto100{
    position: absolute;
    right: 0;
    transform: translateY(-100%);
    
    
}


/*                              MEDIA QUERY                                         */

@media screen and (max-width: 630px){

    .conteiner{
        width: 70%;

    }

}

@media screen and (max-width: 420px){

    .conteiner{
        width: 90%;
    }

}

